<script src="/socket.io/socket.io.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>

<html>
  <head>
    <script>

      function startListening(socket) {
        socket.on('chat', function (data) {
          $('#conversation').append("<li>" + data .message + "</li>"); 
        });
      }

      function startTalking(socket) {
          
          $('#send').click(function() {
            var msg = $('#message').val();
            socket.emit('backchat', { message: msg });
          });
      }

      $(function() {

        var socket = io.connect('/');
        startListening(socket);
        startTalking(socket);

      });

    </script>
  </head>

  <body>
    <ul id="conversation"></ul>


    <input id="message" />
    <button id="send">send</button>
  </body>
</html>